
*{  
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    src: url(/home/lucas/Bureau/Carslogistics/css/Montserrat-Medium.ttf);

}

.center{
    margin-top: 50px;
}
$brick : #CD192B;

@mixin buttonBG($bg) {
  border: 1px solid $bg;
  color: $bg;
  &:hover {
    background-color: $bg;
    transition: all 0.3s ease-in-out;
  }
}
.skewBtn{
    padding: 5px 20px 5px 20px;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    background:#CD192B;
    color: white;
    transition: .5s;
    font-size: 14px;
    margin-left: 10px;
    font-weight: 500;}
    .skewBtn:hover{
      border-radius: 10px 10px 10px 10px;
      color: white;
      font-size: 17px;
      transform:scale(1.1);}
.brick{
  @include buttonBG($brick);
}

.bouton_co {
    border: 1px solid #cd192b;
    font-size: 14px;
    color: #cd192b;
    background-color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 10px 10px 10px 10px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer; }
  
  .bouton_co:hover {
    color: #fff;
    background-color: #cd192b;
    border: 1px solid #fff;
    transition: all 1s ease-in-out; }
#cars{
    padding: 11px ;
}
@font-face {
	font-family: "Montserrat-Medium";
	src: url('Montserrat-Medium.ttf');
}
#img {
   padding: 0%;
   flex-direction: row-reverse;
}

 h2::first-letter{
     color: #CD192B;
 }
 .rouge{
     color: #CD192B;
 }
 a:hover{
     color: black;
 }
 h3{
     display: flex;
     justify-content: center;
     align-items: center;
 }
   
.title{
    margin-top: 50px;
}
.reverse {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.row{
    display: flex;
    flex-direction: row;
      margin: 0;
    padding-left: 15px;
    padding-right: 15px;
   

}
.center{
    display: flex;
    flex-direction: column;
   align-content: center;
  

}
.centre {
    text-align: center;
}
.centre2{
    text-align: center;
    font-size: 2rem;

}
.centre3{
    text-align: center;
}
h2 {
    text-align: center;
}

.barre {
    width: 1px;
    height: 55px;
    content: "";
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #d2d2d2;
    display: flex;
    justify-content: flex-start;
}


.col{
    padding: 0;
}

  .golo{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
  }

    
.logo {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    width: 100px;
 
  }
  #box1 {
    height: 80px;
    display: flex;
    padding: 0%;
    
    align-items: center;
  }
  #barre{
      display: flex;
      justify-content: flex-end;
      width: 1px;
      height: 45px;
      content: "";
      margin-left: 100px;
      background-color: #B7B7C7;
  }
  #box2{
      display: flex;
      justify-content: center;
  }
  #bouton_nav{
display: flex;
justify-content: center;
      align-items: center;
  }





.livreur {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    
    
}




.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, 
.col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, 
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, 
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, 
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, 
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, 
.col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, 
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, 
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto 
{
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.d-block w-100{
    display: flex;
    justify-content: center;
    align-items: center;
}
.droite{
    display: flex;
    justify-content: flex-end;
}


.mec{
    width: 100%;
   
}


.form-control {
    
    display: flex;
   justify-content: center;
    border-radius: 0;
    width:60%;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:hover{
    border-color: #CD192B;
  
}
.form-group{
    width: 80%;
    background-color: #F7F7F7;
    border-radius: 6px;
    padding: 5px;
    border: #CD192B 1px solid;
        
    
}
.row{ display: flex;

}

label{
    margin-right: 5px ;
}


.place {
    width: 40%;
}

#reverse {
    display: flex;
    flex-direction: row-reverse;
}
.but{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.control-label {
    margin-left: 20px;
}
.control-label1{
    margin-left: 16px;
}

#haut {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.bouton{
    border-radius: 3px;
}

.checkmark {
    position: absolute;
    top: 3px;
    left: 21px;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid black;
  }

  .calcul{
      display: flex;
      background-color: #F7F7F7;
      border-radius: 20px;
      width: 73%;
      padding: 10px;
      justify-content: center;
      border: #CD192B 1px solid;
      
     
  }
  #milieu{
      display: flex;
      justify-content: center;
  }

  #milieu2{
    display: flex;
    
    flex-direction: column;
    align-items: center;
  }
  .boite {
      align-items: center;
      
  }

  .pricing-result {
    border: 1px solid black;
    font-size: 1.6em;
    margin: 0;
    padding: 4px;
  }

  .pricing-result:hover{
      border: 1px solid #CD192B;
  }
    .pricing-result-ttc{
        margin: 0;

    }

    .calc{
        display: flex;
        justify-content: center;
   
       
    }

    .calc2{
        width: 70px;
    }

#effect{
    margin-right: 5px;
    height: 30px;
 width: auto;
    padding: 3px ;
    background-color: #CD192B;
    color: #fff;
}

.grey{
  background-color: #525154;
display: flex;
justify-content: center;
align-items: center;
}


#padd{
    padding: 0;
}
#grey{
    width: 100%;
}
.buble{
    border-radius: 60px;
    width: 95px;
    background: none;
    height: 95px;
   background-color: #76768C;
   border: none;
   margin: 15px;
   
}
.taille{
    width: auto;
    height: 50px;
    border: none;
}











.Pop_up{
    width:100%;
   padding: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 60px;
        width: 95px;
        background: none;
        height: 95px;
       background-color: #76768C;
       border: none;
       margin: 15px;
       
    }
    .button:hover {
    background: black;
    }
    .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: opacity 1000ms;
    visibility: hidden;
     opacity: 0;
    }
    .overlay:target {
    visibility: visible;
    opacity: 1;
    }
    .popup {
    margin: 70px auto;
    padding: 20px;
    background: #444444;
    border-radius: 5px;
    width: 40%;
    position: relative;
    transition: all 5s ease-in-out;
    }
    
    .popup h2 {
      margin-top: 0;
      color: white;
      font-family: Tahoma, Arial, sans-serif;
    }
    .popup .close {
      position: absolute;
      top: 20px;
      right: 30px;
      transition: all 200ms;
      font-size: 30px;
      font-weight: bold;
      text-decoration: none;
      color: white;
    }
    .popup .close:hover {
      color: #06D85F;
    }
    .popup .content {
      max-height: 30%;
      overflow: auto;
      color: white;
    }

    .content{
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }




#modif{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 60px;
}

.lien-gauche{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.aide{
    margin-bottom: 30px;
}

.social{
    
    display: flex;
    justify-content: center;
}

.face{
 justify-content: center;
 margin-left: 30px;
}


.placement{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.book{
    display: flex;
    justify-content: center;
  padding: 9px;
    color: white ;
    background-color: #4267b2;
border-radius: 9px;
   
}

.book:hover{
    text-decoration: none;
    background-color: white;
    color: #4267b2;
    border: #4267b2 2px solid;
    padding: 9px;

}


.last{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

.blanc {
    color: #F7F7F7;
    padding: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

h4::first-letter{
    color: #CD192B;
}

.lastimg{
    display: flex;
    justify-content: center;
}

.cl{
    width: auto;
}